[Unit]
Description = Apply iptables rules

[Service]
Type=oneshot
ExecStart=/etc/e2guardian/operations/scripts/iptables.sh

[Install]
WantedBy=network-pre.target
